.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.logo {
  animation: widdershins infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.caption{
  text-align: center;
}

.captainsLog{
  background-color: cornsilk;
  padding: 5px
}

.sky{
  background-color:lightskyblue;
  height: 300px;
  padding-top:150px
}

.scenery{
  background-color:darkgreen;
  height: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes widdershins {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

#mountainNorth {
  width: 0; 
  height: 0; 
  border-left: 150px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 50px solid darkgreen;
}

#mountainSouth {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 50px solid darkgreen;
}

#sun {
  width: 100px;
  height: 100px;
  animation: sunset 20s infinite;
}

@keyframes sunset {
  0%, 100% {
      transform: translate(0,100);  
      border-radius: 100px;
      background-color: yellow;
  }

  33% {
    transform: translate(400, 100) scale;
    border-radius: 100px;
    background-color: pink;
  }

  66% {
      transform: translate(800px, 0) scale(0.5,0.5);
      border-radius: 100px;
      background-color: red;
  }
}