.App {
  text-align: center;
}
.icon {
  height: 50px;
}
/* animated icons */
.spin {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}
.widdershins {
  animation: widdershins infinite 20s linear;
  height: 50px;
}
.driftIcon{
  height: 50px;
  animation: drift infinite 20s;
}
.riseIcon{
  height: 50px;
  animation: float reverse infinite 20s;
}
.sinkIcon{
  height: 50px;
  animation: float infinite 20s;
}
@keyframes drift {
  0%,100% {
    transform: translate(0px,0px);
  }
  50% {
    transform: translate(10px, 0px);
  }
}

@keyframes float {
  0% {
    transform: translate(0px,-10px);
  }
  100% {
    transform: translate(0px, 10px);
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes widdershins {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

/* App styling */
.App-header {
  background:#222;
  height: 250px;
  color: white;
  padding:20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.caption{
  text-align: center;
}

.captainsLog{
  background-color: cornsilk;
  padding: 5px;
  text-align: left
}

/*Background Styling*/
.sky{
  background:linear-gradient(#123d88, lightskyblue);
  height: 200px;
  padding-top:50px
}
.sky-day{
  background-color: lightskyblue;
  height: 200px;
  padding-top:50px
}

.scenery{
  background-color:#355028;
  height: 75px;
}

#mountainNorth {
  width: 0; 
  height: 0; 
  border-left: 150px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 50px solid #355028;
}

#sun {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 100px;
  animation: spinSky 10s infinite;
}

#sunset {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  animation: sunset 20s infinite;
}

@keyframes sunset {
  0%, 100% {
    transform: translate(0,0);  
    background-color: yellow;
  }

  33% {
    transform: translate(400,0) scale(0.75,0.75);
    background-color:orange;
  }

  66% {
    transform: translate(800px, 75px) scale(0.5,0.5);
    background-color: red;
  }
}

@keyframes spinSky {
  0% {
    transform: translate(-100px,0px)scale(0.75,0.75);
  }
  100% {
    transform: translate(1200px, 0px)scale(0.75,0.75);
  }
}

